@charset "utf-8";
@import './base.scss';   

$color: #b3b2b2;
$border_box: border-box;
$inline_block: inline-block;
$color1: #5f5f61;
$width612:6.12rem;
$color2: #c8cdd1;
$white:#fff;

// 头部区域
header {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;

  //友情链接 
  .links {
    margin-top: .16rem;
    margin-bottom: .18rem;
    display: flex;
    justify-content: flex-end;

    li {
      font-size: .12rem;

      a {
        color: $color;
        vertical-align: top;
      }
    }

    //除了同类型的最后一个标签不添加伪对象之外的所有li标签都添加
    li:not(:last-of-type) {
      &::after {
        content: '';
        display: $inline_block;
        width: .01rem;
        height: .16rem;
        background-color: $color;
        margin: 0 .05rem;
      }
    }
  }

  // logo 
  .logo {
    float: left;
    width: 2.49rem;
    height: .34rem;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-indent: -1000rem;
      background-image: url('../assets/images/logo.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  // 导航栏
  nav {
    float: right;
    margin-top: .22rem;
    margin-bottom: .31rem;

    .lis {
      li {
        margin-left: .27rem;
        float: left;
        font-size: .14rem;
        box-sizing: $border_box;

        a {
          color: #7a7878;
          padding: .05rem .1rem .05rem .14rem;
        }

        // 修改第一个li标签下a标签的字体颜色
        &:first-child {
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: .04rem;
            background-color: #1abc9c;
            margin-top: .1rem;
          }

          a {
            color: #f64f5b;
          }
        }
      }
    }
  }
}

// banner 区域
main {
  width: 100%;

  .banner_wrap {
    background-image: url('../assets/images/banner_bg_t.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    box-sizing: $border_box;

    // 第一个耳机区域的样式
    figure {
      margin-top: 1.38rem;
      float: left;
    }

    .banner_right {
      margin-top: 1.84rem;
      float: left;
      color: $white;

      p {
        margin-left: -.84rem;
        font-size: .26rem;

      }

      h4 {
        margin-top: .34rem;
        margin-bottom: .87rem;
        font-size: .3rem;
        text-align: right;
      }

      .banner_right_btn {
        text-align: right;

        a {
          display: inline-block;
          padding: .2rem .47rem;
          border-radius: 5px;
          box-sizing: $border_box;
          color: $white;
          font-size: .18rem;
          &:hover {
            color: #666;
          }
        }

        .btn_1 {
          background-color: #1abc9c;
        }

        .btn_2 {
          background-color: #3498db;
        }
      }
    }
  }

  // 关于我们
  .about_wrap {
    color: $white;
    font-size: 0;

    .about_content {
      float: left;
      margin: 1rem .5rem 0 1.56rem;

      h4 {
        margin-bottom: .2rem;
        color: #34495e;
        font-size: .18rem;
      }

      p {
        width: 6.20rem;
        color: #34495e;
        font-size: .12rem;
        line-height: .28rem;
      }
    }

    figure {
      float: left;
      margin-top: -1rem;
    }
  }

}

// what we do
.introduction {
  background-color: #38373d;
  text-align: center;
  padding-bottom: 1.05rem;

  .introduction_title {
    padding-top: .34rem;
    color: #fff;
    font-size: .26rem;

    p {
      margin-top: .1rem;
      margin-bottom: .4rem;
      font-size: .18rem;
    }
  }

  .introduction_lis {
    display: flex;
    justify-content: center;

    li {
      width: 1.8rem;
      color: #fff;
      line-height: .16rem;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }

      span {
        display: block;
        font-size: .16rem;
        margin-top: .3rem;
        margin-bottom: .3rem;
      }

      p {
        font-size: .12rem;
      }
    }
  }
}

// 最新资讯
.news_wrap {
  overflow: hidden;
  padding-bottom: .98rem;

  .news_title {
    margin: .5rem auto .42rem;
    padding-bottom: .2rem;
    width: $width612;
    border-bottom: .02rem solid #e7e7e7;
    color: $color1;
    text-align: center;
    font-size: .26rem;
    font-weight: bold;

    span {
      font-size: .24rem;
    }
  }

  .news_lis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 8.53rem;

    li {
      width: 3.94rem;
      font-size: 0;
      box-sizing: $border_box;
      background-repeat: no-repeat;
      line-height: 1.03rem;

      &:nth-child(2n + 1) {
        margin-right: .43rem;
      }

      img {
        vertical-align: middle;
        margin-right: .22rem;
      }

      a {
        display: inline-block;
        width: 2.89rem;
        line-height: .24rem;
        font-size: .14rem;
        vertical-align: middle;
        color: $color1;

        // &:hover { 
        //   font-weight: bold;
        // }

        span {
          float: right;
        }
      }
    }
  }
}

// 轮播图
.swiper_wrap {
  margin-bottom: .84rem;
  height: 6.5rem;
  background-image: url('../assets/images/picture_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
  }

  .swiper_title {
    margin: .31rem auto .32rem;
    padding-bottom: .16rem;
    width: $width612;
    border-bottom: .02rem solid #e7e7e7;
    color: #fff;
    font-size: .26rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .picture_container {
    position: relative;
    z-index: 2;
    box-sizing: $border_box;
    margin: 0 1.50rem 0 1.47rem;
    display: flex;
    justify-content: center;

    li {
      // float: left;
      width: 2.45rem;
      height: 2.45rem;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 1.1rem;

      &:first-child {
        background-image: url('../assets/images/picture_01.jpg');
      }

      &:nth-of-type(2) {
        width: 3.7rem;
        height: 3.7rem;
        background-image: url('../assets/images/picture_02.jpg');
        margin: 0 .6rem;
      }

      &:nth-of-type(2)~li {
        background-image: url('../assets/images/picture_03.jpg');
      }

      &:not(:nth-of-type(2))::after {
        content: '';
        display: block;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
      }
    }

    // 按钮
    .btn_wrap {
      div {
        // 这里是使用定位实现的，到了移动端，漏洞百出，需要解决
        position: absolute;
        top: 50%;
        width: .69rem;
        height: .69rem;
        margin-top: -.345rem;
      }

      .pre {
        left: 0;
        background-image: url('../assets/images/btn_left.png');
      }

      .next {
        background-image: url('../assets/images/btn_right.png');
        right: 0;
      }
    }
  }
}

// 底部区域样式
footer {

  // 反馈区域样式
  .feedback_wrap {
    padding-left: 1.74rem;
    height: 4.23rem;
    background-color: #38373d;
    color: #fff;

    .feedback_left {
      float: left;
      margin-top: 1.94rem;
      margin-right: .2rem;

      figure {
        margin-right: .33rem;
        float: left;
        font-size: .12rem;
        text-align: center;

        // 图片描述信息
        figcaption {
          display: block;
          margin-top: .1rem;
        }
      }

      .qrC_content {
        float: left;

        h5 {
          font-size: .16rem;
          margin-bottom: .24rem;
        }

        p {
          font-size: .14rem;

          &:nth-of-type(2) {
            padding-left: .34rem;
            margin-bottom: .12rem;
          }

          i {
            display: inline-block;
            width: .34rem;
            height: .24rem;
            background-repeat: no-repeat;
            vertical-align: top;

            &.icon_phone {
              background-image: url('../assets/images/phone.png')
            }

            &.icon_email {
              background-image: url('../assets/images/email.png')
            }

            &.icon_seat {
              background-image: url('../assets/images/seat.png')
            }
          }


        }
      }
    }

    .feedback_right {
      float: left;
      // background-color: purple;
      margin-top: .6rem;

      // 用户反馈文字样式
      .contact_title {
        margin-bottom: .12rem;
        font-size: .16rem;
      }

      form {
        font-size: .13rem;

        input {
          margin-bottom: .1rem;
          padding: .13rem .12rem .15rem;
          background-color: rgba(0, 0, 0, .5);
          border: 0 none;
          color: $color2;
          outline: none;
          font-size: .13rem;
          border-radius: 5px;
        }

        textarea {
          padding-top: .24rem;
          padding-left: .12rem;
          width: 3.91rem;
          height: 1.44rem;
          background-color: rgba(0, 0, 0, .5);
          border: 0 none;
          box-sizing: $border_box;
          border-radius: 5px;
          color: $color2;
          outline: none;
          // 禁止文本域可缩放功能  -- 小三角
          resize: none;
          // 文字超出显示滚动条
          overflow-x: auto;
        }

        .user_info {
          input:first-child {
            margin-right: .21rem;
          }
        }

        .btn {
          margin-top: .1rem;

          text-align: right;

          a {
            padding: .08rem .35rem;
            background-color: #3498db;
            border-radius: 5px;
            color: #fff;
            font-size: .14rem;
          }
        }
      }
    }
  }

  // 版权区域样式
  .copyright_wrap {
    position: relative;
    padding: .46rem 0 .37rem;
    background-color: #2c3e50;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      top: -.36rem;
      left: 50%;
      width: 0;
      height: 0;
      border: .18rem solid transparent;
      border-bottom-color: #2c3e50;
    }

    p {
      font-size: .12rem;
      color: #fff;

      &:first-child {
        margin-bottom: .1rem;
      }
    }
  }
}