@charset "UTF-8";
/* 
  初始化样式文件
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
ol,
li,
img,
input,
a,
p,
span,
i,
em,
strong,
dl,
dt,
dd,
header,
section,
figure,
main,
article,
aside,
nav,
footer,
form,
input {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Mcrosoft YaHei", "STHeiti", "SimSun", "KaiTi";
}

html {
  font-size: 100px;
}

a {
  color: #000;
  -webkit-tap-highlight-color: none;
  outline: none 0;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0 none;
}

input,
textarea {
  outline: none;
  border: 0 none;
}

ul,
li {
  list-style: none;
}

i,
em {
  font-family: normal;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after,
.clearfix:before {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  height: 0;
}

header,
nav,
section,
main,
article,
aside,
footer,
figure {
  display: block;
}

header {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
header .links {
  margin-top: 0.16rem;
  margin-bottom: 0.18rem;
  display: flex;
  justify-content: flex-end;
}
header .links li {
  font-size: 0.12rem;
}
header .links li a {
  color: #b3b2b2;
  vertical-align: top;
}
header .links li:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  width: 0.01rem;
  height: 0.16rem;
  background-color: #b3b2b2;
  margin: 0 0.05rem;
}
header .logo {
  float: left;
  width: 2.49rem;
  height: 0.34rem;
}
header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1000rem;
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
header nav {
  float: right;
  margin-top: 0.22rem;
  margin-bottom: 0.31rem;
}
header nav .lis li {
  margin-left: 0.27rem;
  float: left;
  font-size: 0.14rem;
  box-sizing: border-box;
}
header nav .lis li a {
  color: #7a7878;
  padding: 0.05rem 0.1rem 0.05rem 0.14rem;
}
header nav .lis li:first-child::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.04rem;
  background-color: #1abc9c;
  margin-top: 0.1rem;
}
header nav .lis li:first-child a {
  color: #f64f5b;
}

main {
  padding-top: 1.37rem;
  padding-right: 1.05rem;
  width: 100%;
  background-image: url("../../assets/images/banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  box-sizing: border-box;
}
main .banner_wrap {
  font-size: 0;
}
main .banner_wrap figure {
  display: inline-block;
}
main .banner_wrap .banner_right {
  float: right;
  display: inline-block;
  margin-top: 0.48rem;
  background-color: red;
  color: #fff;
  text-align: right;
}
main .banner_wrap .banner_right p {
  font-size: 0.26rem;
}
main .banner_wrap .banner_right h4 {
  font-size: 0.3rem;
}
main .banner_wrap .banner_right .banner_right_btn ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.05rem;
  text-align: right;
}
main .banner_wrap .banner_right .banner_right_btn ul li {
  width: 1.7rem;
  background-color: #3498db;
  border-radius: 0.08rem;
  font-size: 0.18rem;
  line-height: 0.56rem;
  text-align: center;
}
main .banner_wrap .banner_right .banner_right_btn ul li:hover a {
  font-weight: bold;
}
main .banner_wrap .banner_right .banner_right_btn ul li:not(:last-child) {
  margin-right: 0.16rem;
  background-color: #1abc9c;
}
main .banner_wrap .banner_right .banner_right_btn ul li a {
  color: #fff;
}

.introduction {
  background-color: #38373d;
  text-align: center;
  padding-bottom: 1.05rem;
}
.introduction .introduction_title {
  padding-top: 0.34rem;
  color: #fff;
  font-size: 0.26rem;
}
.introduction .introduction_title p {
  margin-top: 0.1rem;
  margin-bottom: 0.4rem;
  font-size: 0.18rem;
}
.introduction .introduction_lis {
  display: flex;
  justify-content: center;
}
.introduction .introduction_lis li {
  width: 1.8rem;
  color: #fff;
  line-height: 0.16rem;
}
.introduction .introduction_lis li:not(:last-of-type) {
  margin-right: 1rem;
}
.introduction .introduction_lis li span {
  display: block;
  font-size: 0.16rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.introduction .introduction_lis li p {
  font-size: 0.12rem;
}

.news_wrap {
  overflow: hidden;
  padding-bottom: 0.98rem;
}
.news_wrap .news_title {
  margin: 0.5rem auto 0.42rem;
  padding-bottom: 0.2rem;
  width: 6.12rem;
  border-bottom: 0.02rem solid #e7e7e7;
  color: #5f5f61;
  text-align: center;
  font-size: 0.26rem;
  font-weight: bold;
}
.news_wrap .news_title span {
  font-size: 0.24rem;
}
.news_wrap .news_lis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 8.53rem;
}
.news_wrap .news_lis li {
  width: 3.94rem;
  font-size: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  line-height: 1.03rem;
}
.news_wrap .news_lis li:nth-child(2n+1) {
  margin-right: 0.43rem;
}
.news_wrap .news_lis li img {
  vertical-align: middle;
  margin-right: 0.22rem;
}
.news_wrap .news_lis li a {
  display: inline-block;
  width: 2.89rem;
  line-height: 0.24rem;
  font-size: 0.14rem;
  vertical-align: middle;
  color: #5f5f61;
}
.news_wrap .news_lis li a:hover {
  font-weight: bold;
}
.news_wrap .news_lis li a span {
  float: right;
}

.swiper_wrap {
  margin-bottom: 0.84rem;
  height: 6.5rem;
  background-image: url("../../assets/images/picture_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.swiper_wrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.swiper_wrap .swiper_title {
  margin: 0.31rem auto 0.32rem;
  padding-bottom: 0.16rem;
  width: 6.12rem;
  border-bottom: 0.02rem solid #e7e7e7;
  color: #fff;
  font-size: 0.26rem;
  text-align: center;
  position: relative;
  z-index: 2;
}
.swiper_wrap .picture_container {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  margin: 0 1.5rem 0 1.47rem;
  display: flex;
  justify-content: center;
}
.swiper_wrap .picture_container li {
  width: 2.45rem;
  height: 2.45rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1.1rem;
}
.swiper_wrap .picture_container li:first-child {
  background-image: url("../../assets/images/picture_01.jpg");
}
.swiper_wrap .picture_container li:nth-of-type(2) {
  width: 3.7rem;
  height: 3.7rem;
  background-image: url("../../assets/images/picture_02.jpg");
  margin: 0 0.6rem;
}
.swiper_wrap .picture_container li:nth-of-type(2) ~ li {
  background-image: url("../../assets/images/picture_03.jpg");
}
.swiper_wrap .picture_container li:not(:nth-of-type(2))::after {
  content: "";
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.swiper_wrap .picture_container .btn_wrap div {
  position: absolute;
  top: 50%;
  width: 0.69rem;
  height: 0.69rem;
  margin-top: -0.345rem;
}
.swiper_wrap .picture_container .btn_wrap .pre {
  left: 0;
  background-image: url("../../assets/images/btn_left.png");
}
.swiper_wrap .picture_container .btn_wrap .next {
  background-image: url("../../assets/images/btn_right.png");
  right: 0;
}

footer .feedback_wrap {
  padding-left: 1.74rem;
  height: 4.23rem;
  background-color: #38373d;
  color: #fff;
}
footer .feedback_wrap .feedback_left {
  float: left;
  margin-top: 1.94rem;
  margin-right: 0.2rem;
}
footer .feedback_wrap .feedback_left figure {
  margin-right: 0.33rem;
  float: left;
  font-size: 0.12rem;
  text-align: center;
}
footer .feedback_wrap .feedback_left figure figcaption {
  display: block;
  margin-top: 0.1rem;
}
footer .feedback_wrap .feedback_left .qrC_content {
  float: left;
}
footer .feedback_wrap .feedback_left .qrC_content h5 {
  font-size: 0.16rem;
  margin-bottom: 0.24rem;
}
footer .feedback_wrap .feedback_left .qrC_content p {
  font-size: 0.14rem;
}
footer .feedback_wrap .feedback_left .qrC_content p:nth-of-type(2) {
  padding-left: 0.34rem;
  margin-bottom: 0.12rem;
}
footer .feedback_wrap .feedback_left .qrC_content p i {
  display: inline-block;
  width: 0.34rem;
  height: 0.24rem;
  background-repeat: no-repeat;
  vertical-align: top;
}
footer .feedback_wrap .feedback_left .qrC_content p i.icon_phone {
  background-image: url("../../assets/images/phone.png");
}
footer .feedback_wrap .feedback_left .qrC_content p i.icon_email {
  background-image: url("../../assets/images/email.png");
}
footer .feedback_wrap .feedback_left .qrC_content p i.icon_seat {
  background-image: url("../../assets/images/seat.png");
}
footer .feedback_wrap .feedback_right {
  float: left;
  margin-top: 0.6rem;
}
footer .feedback_wrap .feedback_right .contact_title {
  margin-bottom: 0.12rem;
  font-size: 0.16rem;
}
footer .feedback_wrap .feedback_right form {
  font-size: 0.13rem;
}
footer .feedback_wrap .feedback_right form input {
  margin-bottom: 0.1rem;
  padding: 0.13rem 0.12rem 0.15rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0 none;
  color: #c8cdd1;
  outline: none;
  font-size: 0.13rem;
  border-radius: 5px;
}
footer .feedback_wrap .feedback_right form textarea {
  padding-top: 0.24rem;
  padding-left: 0.12rem;
  width: 3.91rem;
  height: 1.44rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0 none;
  box-sizing: border-box;
  border-radius: 5px;
  color: #c8cdd1;
  outline: none;
  resize: none;
  overflow-x: auto;
}
footer .feedback_wrap .feedback_right form .user_info input:first-child {
  margin-right: 0.21rem;
}
footer .feedback_wrap .feedback_right form .btn {
  margin-top: 0.1rem;
  text-align: right;
}
footer .feedback_wrap .feedback_right form .btn a {
  padding: 0.08rem 0.35rem;
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  font-size: 0.14rem;
}
footer .copyright_wrap {
  position: relative;
  padding: 0.46rem 0 0.37rem;
  background-color: #2c3e50;
  text-align: center;
}
footer .copyright_wrap::after {
  content: "";
  position: absolute;
  top: -0.36rem;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.18rem solid transparent;
  border-bottom-color: #2c3e50;
}
footer .copyright_wrap p {
  font-size: 0.12rem;
  color: #fff;
}
footer .copyright_wrap p:first-child {
  margin-bottom: 0.1rem;
}

/*# sourceMappingURL=index.css.map */
